<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Practice TestNG Suite" verbose="2">
    <test thread-count="4" name="AUTOMATION_PRACTICE_SHOPPING_TESTS" preserve-order="false">
        <groups>
            <define name = "Group1">
                <include name="checkinTests"/>
            </define>
            <define name = "Group2">
                <include name="accountTests"/>
            </define>
            <define name = "Group3">
                <include name="loginTests"/>
            </define>
            <define name = "Group4">
                <include name="wishlistTests"/>
            </define>
            <define name = "Group5">
                <include name="cartTests"/>
            </define>
            <define name = "SuperGroup">
                <include name="Group1"/>
                <include name="Group2"/>
                <include name="Group3"/>
                <include name="Group4"/>
                <include name="Group5"/>
            </define>
            <run>
                <include name="SuperGroup"/>
            </run>
        </groups>
        <classes>
            <class name="com.issoft.training.tests.AutomationPracticeShoppingTests"/>
        </classes>
    </test>
</suite>
